name: Run Tests 

on: [push, pull_request] 

jobs:
  test:
    runs-on: ubuntu-latest 

    steps:
  
    - uses: actions/checkout@v4


    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'


    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest requests python-dotenv # Добавь python-dotenv если используешь


    - name: Run tests with pytest
      run: |
        python -m pytest # или просто pytest
      env: 
        USER_EMAIL: ${{ secrets.USER_EMAIL }} 
        USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
     
